repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py312-plus]
  - repo: https://github.com/psf/black
    rev: 23.12.0
    hooks:
      - id: black
        args: ["--target-version", "py312"]
  - repo: https://github.com/pycqa/isort
    rev: 5.13.1
    hooks:
      - id: isort
        name: isort (python)